.anotacoes__botao{
    padding: .5rem;
}

.anotacoes__botao-texto{
    text-decoration: none;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    margin: 2rem;
}

table, th, td {
    border: 1px solid black;
}

th, td{
    height: 2rem;
}

.tabela__anotacoes{
    width: 95%;
}

.tabela__dados-nome{
    padding-left: 1rem;
    width: 80%;
}

.tabela__dados-data{
    text-align: center;
    width: auto;
}

.formulario__anotacoes{
    display: flex;
    flex-direction: column;
}

.formulario_container-observacoes{
    display: flex;
    flex-direction: row;
}

.formulario__botao-anotacoes{
    align-self: center;
    padding: .5rem;
}