.anotacoes__botao{
    margin-left: 2rem;
    padding: .5rem;
}

.anotacoes__botao-texto{
    text-decoration: none;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    margin: 2rem;
}

table, th, td {
    border: 1px solid black;
}

th, td{
    height: 2rem;
}

.tabela__anotacoes{
    width: 95%;
}

.tabela__dados-nome{
    padding-left: 1rem;
    width: 70%;
}

.tabela__dados-data{
    text-align: center;
    width: auto;
}

.tabela__dados-botoes{
    width: 5%;
}

.formulario__anotacoes{
    display: flex;
    flex-direction: column;
}

.formulario_container-observacoes{
    display: flex;
    flex-direction: row;
}

.observacoes_planta{
    padding: .5rem;
}

.formulario__botao-anotacoes{
    align-self: center;
    padding: .5rem;
}

.botoes__tabela{
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.botao__editar-anotacao{
    border-radius: 25%;
    background-color: darkblue;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: .85rem;
    padding: .1rem;
    text-align: center;
    text-decoration: none;
    width: 1rem;
}

.botao__excluir-anotacao{
    border-radius: 25%;
    background-color: darkred;
    border: none;
    color: #ffffff;
    cursor: pointer;
    padding: .1rem;
    text-align: center;
    width: 1rem;
}