:root{
    --cor-fonte-titulo: rgba(2, 64, 89, 1);
    --cor-bordas-hover: rgba(1, 89, 80, 1);
    --cor-rodape: rgba(2, 114, 94, 1);
    --cor-login: rgba(2, 140, 62, 1);
    --cor-claro: rgba(12, 242, 92, 1);
    --cor-barra-lateral: rgba(12, 242, 92, .5);

    --fonte-titulo: 'Alkalami', serif;
}

*{
    margin: 0;
    padding: 0;
}

body, .conteudo{
    height: 100vh;
}

.mensagem__alerta{
    background-color: var(--cor-barra-lateral);
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.alerta_erro{
    background-color: lightpink;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.alerta_erro ul{
    list-style: none;
}

@media screen and (max-width: 768px) {
    .hidden-mobile{
        display: none;
    }
}