:root{
    --cor-fonte-titulo: rgba(2, 64, 89, 1);
    --cor-textures-2-rgba: rgba(1, 89, 80, 1);
    --cor-textures-3-rgba: rgba(2, 114, 94, 1);
    --cor-login: rgba(2, 140, 62, 1);
    --cor-rodape: rgba(12, 242, 92, 1);
    --cor-barra-lateral: rgba(12, 242, 92, .5);
}

*{
    margin: 0;
    padding: 0;
}