.conteudo{
    display: flex;
}

.conteudo__barra-lateral{
    background-color: var(--cor-barra-lateral);
    height: calc(100vh - 5.5rem);
    padding: 2rem;
    width: 10rem;
}

.titulo{
    color: var(--cor-fonte-titulo);
    margin-bottom: 5rem;
    text-align: center;
}

.barra-lateral__lista{
    list-style-type: none;
}

.barra-lateral__item{
    margin-bottom: 2rem;
}

.barra-lateral__link{
    align-items: center;
    color: black;
    display: flex;
    text-decoration: none;
}

.img-sair{
    height: 1.5rem;
    margin-right: .5rem;
}

.conteudo__principal{
    width: calc(100vw - 10rem);
    padding: 3rem;
}

.titulo__pagina{
    text-align: center;
    margin-bottom: 2rem;
}

footer{
    background-color: var(--cor-rodape);
    height: 1.5rem;
    margin-bottom: 0;
    text-align: center;
    width: 100vw;
}